html, body {
    font-size: 1em;
    font-weight: 700;
    background: white;
    overflow: auto;
    direction: ltr;
}

.grid-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-column-gap: 0;
    grid-template-columns: auto auto auto;
    padding: 10px;
    overflow: auto;
}

.grid-item {
  padding: 20px;
  display: grid;
}

/* First Box
-------------------------------------------------*/

 ul {
    background: rgb(0,191,255);
    direction: rtl;
    text-align: right;
    padding: 5%;
    padding-right: 0;
    border-radius: 6%;
}

.one ul a {
    padding-left: 5px;
    padding-right: 2px;
}

.one ul:hover {
    background: rgba(0,191,255,40%);
}

.link {
    color: black;
    text-decoration: none;
}

.g1 {
    background: rgba(0,191,255,40%);
}

.g2 {
    margin-top: 280%;
}

.g3 {
    color: black;
    text-decoration: none;
}

/* Second Box
---------------------------------------------*/
.two {
    line-height: 280%;
}

.two a {
    border: 1px solid black;
    text-decoration: none;
    padding: 1%;
    border-radius: 4px;
    background: rgb(0,191,255);
    color: snow;
}

/* Third Box
---------------------------------------------*/
.three {
    line-height: 280%;
    background: rgb(0,191,255);
}

.three a {
    border: 1px solid black;
    text-decoration: none;
    padding: 1%;
    border-radius: 4px;
    background: snow;
    color: rgb(0,191,255);
}


/* Fourth Box
---------------------------------------------*/
.four {
    line-height: 280%;
    background: rgb(0,191,255);
}

.four a {
    border: 1px solid black;
    text-decoration: none;
    padding: 1%;
    border-radius: 4px;
    background: snow;
    color: rgb(0,191,255);
}

/* Fifth Box
---------------------------------------------*/
.five {
    line-height: 280%;
}

.five a {
    border: 1px solid black;
    text-decoration: none;
    padding: 1%;
    border-radius: 4px;
    background: rgb(0,191,255);
    color: snow;
}
